<button (click)="createTask()" class="btn" mat-raised-button>AGREGAR TAREA</button>
<mat-grid-list *ngIf="tasks.length > 0 && !spinner; else notFirst" cols="3" class="myGridList" rowHeight="2:1">
  <mat-grid-tile *ngFor="let t of tasks; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t.title}}</mat-card-title>
        <mat-card-subtitle>{{ t.date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button (click)="onEdit(t._id)" mat-button>...</button>
        <button (click)="onDelete(t._id)" color="warn" mat-button>
          X
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #notFirst>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>