<div class="custom-dd">
  <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-card>
        <mat-form-field>
          <textarea matInput formControlName="title"></textarea>
          <mat-placeholder class="placeholder">Agrega tu tarea</mat-placeholder>
        </mat-form-field>
      </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit">Agregar</button>
      <button mat-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
  </form>
</div>